:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.lesson-title {
    padding: 0 0 6px 65px;
    background: url('app/image/angular.png') no-repeat;
    margin: 20px auto;
    text-align: center;
}
nav{
    height: 40px;
    width: 100%;
    background: #1976d2;
    padding-top: 25px;
    text-align: center;
}
nav a {
    width: 30px;
    height: 15px;
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
    margin-right: 15px;
    font-weight: bold;
}
nav a.active {
    width: 30px;
    height: 25px;
    border-radius: 3px;
    padding: 6px 10px;
    background-color: #E03237;
    color:white;
}